[Unit]
Description=Cryptid MQTT Broker
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/cryptid-mqtt-broker
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
